/* .nav_container {
}

.nav_container > * {
padding: 0.3rem;
text-align: center;
font-size: 0.8rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #00000031;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.08);
}

.nav_container_mui > * {
    padding: 0.3rem;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    
    }
     */

.nav_container_mui {
    position: fixed;
    flex-basis: 25%;
    /* background-color: rgb(123, 154, 247); */
    padding: 2rem;
    height: 100%;
}

    /* overflow-y: auto;
      
    